*{margin: 0;padding: 0;}
.footer_wrap{    height: 348px;
    min-width: 1100px;
	background: url(../img/yinyue_bg.jpg)no-repeat;}
.footer_box{    width: 1100px;
    margin: 0 auto;}
.yinyue{padding: 116px 0 0 276px;
    height: 67px;}
.yinyue span{    float: left;
    cursor: pointer;
    width: 57px;
    height: 57px;margin-right: 26px;}
.span1{background: url(../img/yinyue_duo.png);}
.span2{background: url(../img/yinyue_lai.png);}
.span3{background: url(../img/yinyue_mi.png);}
.span4{background: url(../img/yinyue_fa.png);}
.span5{background: url(../img/yinyue_suo.png);}
.span6{background: url(../img/yinyue_la.png);}
.span7{background: url(../img/yinyue_xi.png);}
.yinyue .span_active{    background-position: 0 -57px;
    animation: 1s linear 0s normal none 1 running su-pudding;}
.yinyue span:hover{animation:rubberBand 0.5s; }
.bottom{    border-top: 2px #9890a2 dashed;
    text-align: center;
    line-height: 65px;
    margin-top: 79px;
    color: #fff;
    cursor: pointer;    font-family: STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica, sans-serif;
    font-size: 15px;}
